@charset "UTF-8";

body {  font-family: Verdana, Arial, Helvetica; font-size: 1em; color: #000000; background-repeat: no-repeat; background-position: left top; background-color: #ffffff; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px }

td { color: #000000 }
th { font-size: 1.1em; color: #000000 }
td.white { color: #ffffff ; background-color : #4444ff }
th.white { color: #ffffff ; background-color : #222299 }
table { cell-spacing : 0px }
img { max-width: 100%; }
a:active {  color: #0000ff; text-decoration: none}
a:link { color: #000000; text-decoration: underline  }
a:visited { color: #111111; text-decoration: underline }
a:hover {  color: #000000; text-decoration: underline}

a:active.white {  color: #ffffff; text-decoration: none}
a:link.white { color: #ffffff; text-decoration: underline  }
a:visited.white { color: #ffffff; text-decoration: underline }
a:hover.white {  color: #ffffff; text-decoration: underline }
.archive  li {list-style-type: none; float: left; margin: 15px }
.archive img { height:100px; width: 100px}


.commenttext {
    min-height: 75px;
    width: 90%;
    resize: none;
    list-style: none;
}

.commenttext li {
    list-style: none;
    margin-bottom: 10px;
}

.comment-form input, label, textarea {
    display: block;
    padding-bottom: 5px;
}

.menu-dropdown {
    position: absolute;
    right: 10px;
    display: inline-block;
    cursor: pointer;
}
.menu-button {
    padding: 13px;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

.menu-dropdown:hover .menu-button {
    background-color: #ffffff;
}.menu-dropdown-content {
     display: none;
     position: absolute;
     left: -160px;
     background-color: #ffffff;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

.menu-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-dropdown-content a:hover {
    background-color: #222299;
    color: #ffffff;
}

/* new stuff */
.header {
    color: #ffffff;
    background-color: #222299;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center
}

.footer {
    color: #ffffff;
    background-color: #222299;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center
}

.navigation {
    background: rgb(41, 116, 229);
}

.row {
    padding: 15px;
}

.article {
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.new-line {
    white-space: pre-line;
}
